/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: var(--primary-color);

}

:root {
    --primary-color: #1A0B2E;
    --secondary-color: rgba(53, 17, 101, 0.4);
    --light-green-color: #00FF88;
    --gradient-color: linear-gradient(47deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    --gradient-yellow: linear-gradient(47.64deg, rgb(255, 123, 0), rgb(255, 208, 0), rgb(255, 81, 0));
}

.display-flex {
    display: flex;

}

.section-title {
    font-size: 3rem;
    font-weight: bold;

}

.section-description {
    opacity: 0.6;
}

.wave-gradient {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
}

.btn-primary,
#new {
    background: var(--gradient-color);
    border-radius: 40px;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    border: 2px solid var(--gradient-color);
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border: 5px solid var(--gradient-yellow);
    background: var(--gradient-yellow);
    color: var(--primary-color);
    box-shadow: 4px 2px 4px 0 yellow, 4px 2px 4px 0 yellow inset;

}

.fixed-width {
    max-width: 1200px;
    width: 90%;
    margin: 120px auto;
}

.card {
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 4px 4px 4px 0 var(--light-green-color), 4px 4px 4px 0 var(--light-green-color) inset;

}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 16px auto;
}





/* header styles */

/* navbar related styles */
.navbar {
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #412567;
    padding: 24px;
}

.nav-link-container {
    gap: 32px;

}

.nav-links,
.footer-links {
    list-style: none;
}

.nav-links>a {
    text-decoration: none;
    color: white;
}

.nav-links>a:hover {
    color: rgba(251, 9, 180, 1);
    transform: scale(1.05);
    transition: 0.3s;
}

.nav-menu {
    display: none;
    cursor: pointer;
}


/* banner related styles */
.banner {
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    max-height: 760px;
    height: 100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;

}

.banner-container {
    max-width: 550px;
    margin: 100px auto;
    text-align: center;
}

.banner-img {
    width: 350px;
    height: 350px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new {
    position: absolute;
    top: 3%;
    right: 9%;
    padding: 10px 16px;
    background: var(--light-green-color);
    color: var(--primary-color);
    z-index: 1;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}

.banner-img>img {
    max-width: 200px;
    max-height: 200px;
}

.banner-title {
    font-weight: 900;
    font-size: 3.75rem;
}

.banner-btn-container {
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-banner2 {
    background: transparent;
    border: 1px solid var(--light-green-color);
    color: var(--light-green-color);
}

.btn-banner2:hover {
    background: transparent;
    color: var(--light-green-color);
    box-shadow: 2px 2px 4px 0 var(--light-green-color), 2px 2px 4px 0 var(--light-green-color) inset;
}

/* podcast related styles */
.podcast {
    text-align: center;
    margin-bottom: 0;
}

.podcast>h3 {
    margin-bottom: 16px;
}

.podcast>p {
    line-height: 2rem;
}

.podcast>hr {
    margin: 80px auto;
    border: 1px solid rgba(255, 255, 255, 0.247);
}

.podcast-review {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: center;

}

.review>h3 {
    color: var(--light-green-color);
}

.review>p {
    text-transform: uppercase;
}


/* .why Choose related styles */
.whyChoose-container {
    text-align: center;
    padding: 120px 0;
}

.whyChoose-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    text-align: left;
    gap: 40px;
    margin-top: 40px;

}

.card1 {
    grid-row: span 2;
}

.card2 {
    grid-column: span 2;
}

.card3 {
    grid-column: span 2;
}

.card4 {
    grid-column: span 2;
}


/* featured related styles */
.whyChoose {
    background-color: var(--secondary-color);
}

.featured-container {
    text-align: center;

}

.featured-card {
    max-width: 380px;
    width: 100%;
    padding: 0;
}

.featured-card-container {
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.featured-card:hover {
    transform: scale(1.01);
    transition: 0.3s;
    box-shadow: none;

}

.featured-card>iframe {
    width: 380px;
    border-radius: 20px 20px 0 0;
    margin-top: 0;
}

.featured-card-content {
    padding: 30px 20px;
    text-align: left;
}

.time-container {
    margin-top: 12px;
    gap: 12px;
    color: var(--light-green-color);
    text-align: center;
    align-items: center;
}
.time-container>img{
    height: 20px;
    width: 20px;
}

/* <!-- Meet related styles --> */
.meet {
    text-align: center;
}

.meet-container {
    align-items: center;
    text-align: left;
    gap: 40px;
    margin-top: 40px;
}

.meet-container:hover {
    box-shadow: none;

}

.meet-content>h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.meet-social-link-container {
    margin-top: 16px;
    gap: 8px;
}

.meet-social-link-container>li {
    list-style: none;
    display: flex;
    border: 1px solid #533C72;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

/* footer related styles */
footer {
    background-image: url("../assets/footer-bg.png");
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 1600px;
    height: 412px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: contain;
    
}
.footer-title {
    font-size: 4rem;
}

.footer-social-link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 32px;
}

.footer-links {
    align-items: center;
    gap: 10px;
}




/* responsive for mobile  */
@media screen and (max-width:576px) {

    /* shared styles */
    .section-title {
        font-size: 2rem;
    }


    /* navbar related styles */
    .navbar {
        justify-content: space-between;
        padding: 14px;
    }

    .nav-link-container,
    .btn-nav {
        display: none;
    }

    .nav-menu {
        display: inline-block;   
    }
    .nav-menu>i:hover{
        color: var(--light-green-color);
        
    }


    /* banner related styles */
    .banner {
        height: 440px;
    }

    .banner-container {
        max-width: 400px;
    }

    .banner-img {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .banner-img>img {
        max-width: 80px;
        max-height: 80px;
    }

    .banner-title {
        font-weight: 900;
        font-size: 2.5rem;
    }

    /* podcast related styles */
    .podcast>p {
        line-height: 1.3rem;
    }

    .podcast>hr {
        margin: 40px auto;
    }

    .podcast-review {
        grid-template-columns: repeat(2, 1fr);
    }


    /* .why Choose related styles */
    .whyChoose-container {
        text-align: center;
        padding: 60px 0;
    }

    .whyChoose-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        text-align: left;
        gap: 30px;
        margin-top: 40px;

    }

    .card {
        overflow: scroll;
        scrollbar-width: none;
    }

    .card {
        overflow: auto;
    }

    .card1 {
        grid-row: span 1;
    }

    .card2 {
        grid-column: span 1;
    }

    .card3 {
        grid-column: span 1;
    }

    .card4 {
        grid-column: span 1;
    }

    /* /* featured related styles */
    .featured-card-container,
    .meet-container {
        flex-direction: column;

    }

    /* <!-- Meet related styles --> */
    .meet-content {
        text-align: center;
    }

    .meet-social-link-container {
        justify-content: center;
    }

    /* footer related styles */
    footer {
        height: 228px;
        background-size: 165%;

    }
    .footer-container{
        max-width: 300px;
        height: 168px;
        padding-top: 25px;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-social-link-container {
        
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        
        margin-top: 8px;
        margin-bottom: 8px;
        
    }
    .footer-links , #copy-right {
        font-size: 0.8rem;
    }

   

}








/* responsive for tables/large device  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* shared styles */
    .section-title {
        font-size: 2.3rem;
    }




    /* banner related styles */
    .banner {
        height: 540px;
    }

    .banner-container {
        max-width: 480px;
    }

    .banner-img {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }

    .banner-img>img {
        max-width: 100px;
        max-height: 100px;
    }

    .banner-title {
        font-size: 2.9rem;
    }

    /* .why Choose related styles */
    .whyChoose-container {
        text-align: center;
        padding: 120px 0;
    }

    .whyChoose-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 200px);
        text-align: left;
        gap: 40px;
        margin-top: 40px;

    }

    .card {
        overflow: scroll;
        scrollbar-width: none;
    }

    .card1 {
        grid-row: span 2;
    }

    .card2 {
        grid-row: span 2;
        grid-column: span 1;
    }

    .card3 {
        grid-row: span 2;
        grid-column: span 1;
    }

    .card4 {
        grid-row: span 1;
        grid-column: span 3;
    }

    .card5 {
        grid-row: span 1;
        grid-column: span 3;
    }
    /* footer related styles */
    footer {
        height: 238px;
        background-size: 140%;

    }
    .footer-container{
        max-width: 300px;
        height: 168px;
        padding-top: 25px;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-social-link-container {
        
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        margin-top: 8px;
        margin-bottom: 8px;
        
    }
    .footer-links4 {
        grid-column: span 3;
    }
   

}