/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: var(--primary-color);
}

:root {
    --primary-color: #1A0B2E;
    --secondary-color: rgba(53, 17, 101, 0.4);
    --light-green-color: #00FF88;
    --gradient-color: linear-gradient(47deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.display-flex {
    display: flex;

}

.section-title {
    font-size: 3rem;
    font-weight: bold;

}

.section-description {
    opacity: 0.8;
}

.wave-gradient {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
}

.btn-primary,
#new {
    background: var(--gradient-color);
    border-radius: 40px;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background: linear-gradient(47.64deg, rgb(255, 123, 0), rgb(255, 208, 0), rgb(255, 81, 0));
    color: var(--primary-color);
}















/* header styles */

/* navbar related styles */
.navbar {
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #412567;
    padding: 24px;
}

.nav-link-container {
    gap: 32px;

}

.nav-links {
    list-style: none;
}

.nav-links>a {
    text-decoration: none;
    color: white;
}

.nav-links>a:hover {
    color: rgba(251, 9, 180, 1);
    transform: scale(1.05);
    transition: 0.3s;
}

.nav-menu {
    display: none;
}


/* banner related styles */
.banner {
    background-image: url('../assets/hero-bg.png');
    width: 100%;
    max-height: 760px;
    height: 100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;

}

.banner-container {
    max-width: 550px;
    margin: 100px auto;
    text-align: center; 
}

.banner-img {
    width: 350px;
    height: 350px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-image: url("/assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new {
    position: absolute;
    top: 3%;
    right: 10%;
    padding: 10px 16px;
    background: var(--light-green-color);
    color: var(--primary-color);
    z-index: 1;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}

.banner-img>img {
    max-width: 200px;
    max-height: 200px;
}

.banner-title {
    font-weight: 900;
    font-size: 3.75rem;
}

.banner-btn-container {
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-banner2 {
    background: transparent;
    border: 1px solid var(--light-green-color);
    color: var(--light-green-color);
}

.btn-banner2:hover {
    background: var(--gradient-color);
    border: 1px solid var(--primary-color);
    color: var(--light-green-color);
}


/* responsive for mobile  */
@media screen and (max-width:576px) {

    /* shared styles */
    .section-title {
        font-size: 2rem;
    }


    /* navbar related styles */
    .navbar {
        justify-content: space-between;
        padding: 14px;
    }

    .nav-link-container,
    .btn-nav {
        display: none;
    }

    .nav-menu {
        display: inline-block;
    }


    /* banner related styles */
    .banner {
        height: 440px;
    }

    .banner-container {
        max-width: 400px;   
    }

    .banner-img {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .banner-img>img {
        max-width: 80px;
        max-height: 80px;
    }

    .banner-title {
        font-weight: 900;
        font-size: 2.5rem;
    }


}








/* responsive for tables/large device  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* shared styles */
    .section-title {
        font-size: 2.3rem;
    }


    

    /* banner related styles */
    .banner {
        height: 540px;       
    }

    .banner-container {
        max-width: 480px;     
    }

    .banner-img {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }

    .banner-img>img {
        max-width: 100px;
        max-height: 100px;
    }

    .banner-title {
        font-size: 2.9rem;
    }

}