/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: var(--primary-color);
}

:root {
    --primary-color: #1A0B2E;
    --secondary-color: rgba(53, 17, 101, 0.4);
    --gradient-color: linear-gradient(47deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.display-flex {
    display: flex;

}

.section-title {
    font-size: 3rem;
    font-weight: bold;

}

.wave-gradient {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
}

.btn-primary {
    background: var(--gradient-color);
    border-radius: 40px;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background: linear-gradient(47.64deg, rgb(255, 123, 0), rgb(255, 208, 0), rgb(255, 81, 0));
    color: var(--primary-color);
}















/* main styles */

/* navbar related styles */
.navbar {
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #412567;
    padding: 24px;

}

.nav-link-container {
    gap: 32px;

}

.nav-links {
    list-style: none;
}

.nav-links>a {
    text-decoration: none;
    color: white;
}

.nav-links>a:hover {
    color: rgba(251, 9, 180, 1);
    transform: scale(1.05);
    transition: 0.3s;
}

.nav-menu {
    display: none;
}










/* responsive for mobile  */
@media screen and (max-width:576px) {

    .navbar {
        justify-content: space-between;
    }

    .nav-link-container,
    .btn-nav {
        display: none;
    }

    .nav-menu {
        display: inline-block;
    }

}








/* responsive for tables/large device  */
@media screen and (min-width:576px) and (max-width:992px) {

    
}